version: 2.1

jobs:
  build-trucks:
    machine: # executor type
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: 'Build Truck Web API and Test'
          command: |
            export dayOrder=$(($(date +%u) % 7))
            ./gradlew clean build
      - store_test_results:
          path: ~/project/build/test-results/test/
      - store_artifacts:
          path: ~/project/build/reports/tests/test/
      - persist_to_workspace:
          root: .
          paths:
            - build

  sonar-scan:
    docker:
      - image: 'circleci/openjdk:11-jdk'
    steps:
      - checkout
      - run:
          name: Analyze on SonarCloud
          command: ./gradlew clean build sonarqube

  build-docker:
    machine: # executor type
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: 'Build Docker: truck-api-framework'
          command: |
            docker build -f dockerfile/Dockerfile -t truck-api-framework:latest .
      - run:
          name: 'Publish to my private docker hub'
          command: |
            docker login --username $DOCKER_USER --password $DOCKER_PWD
            docker tag truck-api-framework:latest $DOCKER_USER/trucks
            docker push $DOCKER_USER/trucks

workflows:
  build-trucks-workflow:
    jobs:
      - build-trucks
      - sonar-scan
      - build-docker:
          requires:
            - build-trucks
            - sonar-scan

  nightly-workflow:
    jobs:
      - build-trucks
    triggers:
      - schedule:
          cron: "0 2 * * *"
          filters:
            branches:
              only:
                - main